<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Untitled.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="cover">
      <div class="cover-image" style="background-image : url('https://unsplash.imgix.net/uploads/1413386993023a925afb4/4e769802?w=1024&amp;q=50&amp;fm=jpg&amp;s=84dfb097d39ff1600cdd32be44813650')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse" contenteditable="true">Mascotitas</h1>
            <p class="text-inverse">Encuentrale un hogar a tu mascota.</p>
            <% if user_signed_in? %>
            <%= link_to 'Mis Mascotas', pets_path , class: "btn btn-warning"%>
            <%= link_to 'Adoptar', adopcion_path , class: "btn btn-warning" %>
            <% else %>
            <% end %>  
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Siguenos en:</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-3 text-center">
            <a href="https://instagram.com">
              <i class="fa fa-5x fa-fw fa-instagram text-inverse"></i></a>
          </div>
          <div class="col-xs-3">
            <a href="https://twitter.com/Pingendo">
              <i class="fa fa-5x fa-fw fa-twitter text-inverse"></i></a>
          </div>
          <div class="col-xs-3">
            <a href="https://facebook.com">
              <i class="fa fa-5x fa-facebook-f fa-fw text-inverse"></i></a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="https://github.com">
              <i class="fa fa-5x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
</body>

<!-- <p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.lat %></td>
        <td><%= user.lng %></td>
   
        <td><%= link_to 'Show', user %></td>
       <!- <td><%= link_to 'Edit', edit_user_path(user) %></td>-->
<!--  
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
