
<html><head></head><body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Untitled.css" rel="stylesheet" type="text/css">
    
    


<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--Atributo Nombre-->
  <div class="section">
    <div class="field">
    <h3 class="text-center"> <%= f.label :name %></h3><br>
    </div>
      <div class="container">
        <%= f.text_field :name , :required => true, class:'form-control', placeholder:'Agrega un nombre'%>
      </div>
    </div>


<!--Atributo especie-->
<div class="form-group">
  <div class="field">
  <h3 class="text-center"><%= f.label :specie %><br></h3>
</div>
  
  <div class="container">
  <%= f.select(:specie, options_for_select(['Perro', 'Gato','Reptil','Pez','Roedor','Ave']),{}, {class: "form-control"}) %>
  </div>
</div>

<!--Atributo Edad-->
<div class="section">
  <div class="field">
    <h3 class="text-center"><%= f.label :age %><br></h3>
  </div>
  <div class="container">
    
    <%= f.number_field :age ,class: 'form-control', placeholder: "Ingresa una Edad"%>
  </div>
</div>


<!--Atributo GENERO-->
<div class="form-group">
  <div class="field">
    <h3 class="text-center"><%= f.label :gender %><br></h3>
  </div>
  
  <div class="container">  
    <%= f.select(:gender, options_for_select(['Macho', 'Hembra']),{}, {class: "form-control"})%>
  </div>
</div>




<!--Atributo Raza-->
<div class="section">
  <div class="field">
    <h3 class="text-center"><%= f.label :race %><br></h3>
  </div>
  <div class="container">
    
    <%= f.text_field :race, class: 'form-control', placeholder: "Ingresa una Raza" %>
  </div>
</div>

<!--Atributo Talla-->
<div class="form-group">
  <div class="field">
    <h3 class="text-center"><%= f.label :size %><br></h3>
  </div>

  <div class="container">
        <%= f.select(:size, options_for_select(['Muy Pequeño','Pequeño','Mediano','Grande','Muy Grande']),{},{class: "form-control"}) %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
        <!--Atributo Esterilizado-->
        <div class="field">
          <%= f.label :sterilized %>
          <%= f.check_box :sterilized %>
        </div>
    </div>

    <div class="col-md-6">
      <br>
        <!--Atributo Adoptado-->
        <div class="field">
          <%= f.label :adoption %>
          <%= f.check_box :adoption %>
        </div>

    </div>
        <div class="col-md-6">
      <br>
        <!--Atributo Adoptado-->
        <div class="field">
          <%= f.label :rabia %>
          <%= f.check_box :rabia %>
        </div>

    </div>
    
        <div class="col-md-6">
      <br>
        <!--Atributo Adoptado-->
        <div class="field">
          <%= f.label :moquillo %>
          <%= f.check_box :moquillo %>
        </div>

    </div>
        <div class="col-md-6">
      <br>
        <!--Atributo Adoptado-->
        <div class="field">
          <%= f.label :parainfluenza %>
          <%= f.check_box :parainfluenza %>
        </div>

    </div>
        <div class="col-md-6">
      <br>
        <!--Atributo Adoptado-->
        <div class="field">
          <h4> Incluye una fotografía con un objeto para comparar el tamaño <h4/>
      <%= f.file_field :avatar , accept:'image/*' , :required => true%>

        </div>
        <div class="actions btn btn-warning">
          
          <%= f.submit %>
        </div>
    </div>
  </div>
</div>

 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  <p>
    <%= f.file_field(:avatar ,class:'btn btn-default', accept:'image/*' , :required => true)%>
  <br>

   <%= f.submit(class:'btn btn-sm btn-success') %>
   </p>


          </div>
   
  <% end %>

  </div>
   </div>
   </div>






 <div class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Siguenos en:</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-3 text-center">
            <a href="https://instagram.com">
              <i class="fa fa-5x fa-fw fa-instagram text-inverse"></i></a>
          </div>
          <div class="col-xs-3">
            <a href="https://twitter.com">
              <i class="fa fa-5x fa-fw fa-twitter text-inverse"></i></a>
          </div>
          <div class="col-xs-3">
            <a href="https://facebook.com">
              <i class="fa fa-5x fa-facebook-f fa-fw text-inverse"></i></a>
          </div>
          <div class="col-xs-3 text-center">
            <a href="https://github.com">
              <i class="fa fa-5x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  

</body></html>
