<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :specie %><br>
<%= f.select :specie, ['Perro', 'Gato','Reptil','Pez','Roedor','Ave']%>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
<%= f.select :gender, ['Macho', 'Hembra']%>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.select :size, ['Muy Pequeño', 'Pequeño','Mediano','Grande','Muy Grande']%>

  </div>
  <div class="field">
    <%= f.label :sterilized %>
    <%= f.check_box :sterilized %>
  </div>


  <div class="field">
    <%= f.label :adoption %>
    <%= f.check_box :adoption %>
  </div>

    <%= f.file_field :picture , accept:'image/*'%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
