<p id="notice"><%= notice %></p>

<h1>Listing Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Specie</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Race</th>
      <th>Size</th>
      <th>Sterilized</th>
      <th>Avatar</th>
      <th>User</th>
      <th>Adoption</th>
      <th>Vaccine</th>
      <th>Duenño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.specie %></td>
        <td><%= pet.age %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.race %></td>
        <td><%= pet.size %></td>
        <td><%= pet.sterilized %></td>
        <td><%= pet.avatar %></td>
        <td><%= pet.user_id %></td>
        <td><%= pet.adoption %></td>
        <td><%= pet.vaccine %></td>
        <td><%= pet.user.email %></td>

        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
