
<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @pet.specie %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Sterilized:</strong>
  <%= @pet.sterilized %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@pet.avatar, :width => 200) if @pet.avatar.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user.email %>
</p>

<p>
  <strong>Adoption:</strong>
  <%= @pet.adoption %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @pet.vaccine %>
</p>
  <strong>Lat:</strong>
  <%= @pet.user.lat %>
</p>
  <strong>Lng:</strong>
  <%= @pet.user.lng %>
</p>
  <strong>Tel:</strong>
  <%= @pet.user.phone_number %>
</p>

<% if @pet.adoption and @pet.user_id != current_user.id %>
<%= form_tag adopta_path, method: :post do %>
  <%= submit_tag 'Adoptar' %>
<% end %>
 <% else %>

<h1 Quieren Adoptar/>
 <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interested.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
        <%= form_tag acepta_path, method: :post do %>
          <%= submit_tag 'Aprovar adopcion', data: { confirm: 'Daras en adopcion a esta mascota, debes haber contactdo al interesado antes y haberlo confimrado' } %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% end %> 


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
