
<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @pet.specie %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Sterilized:</strong>
  <%= @pet.sterilized %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@pet.avatar, :width => 200) if @pet.avatar.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user.email %>
</p>

<p>
  <strong>Adoption:</strong>
  <%= @pet.adoption %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @pet.vaccine %>
</p>
  <strong>Lat:</strong>
  <%= @pet.user.lat %>
</p>
  <strong>Lng:</strong>
  <%= @pet.user.lng %>
</p>
  <strong>Tel:</strong>
  <%= @pet.user.phone_number %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
